@{
    ViewData["Title"] = "Movie List";

    int i = 0;
    string output = "The values of i have been: ";

    for (;i < 10; i++)
    {
        output += i + "; ";
    }
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>